*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container>*{
  height: 100px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row>*{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  text-align: center;
}